body {
    display: flex;
    justify-content: center;
}

* {
    border: 1px solid black;
}

.calculator-body {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.calculator-display {
    width: 360px;
    height: 90px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(86, 96, 86);
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 360px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    height: 100%;
    width: 70px;
    border-radius: 10px;
}

.second-display {
    border: 1px solid black;
    flex: 0.5;
}

.main-display {
    border: 1px solid black;
    flex: 1;
}